In [68]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [85]:
train = pd.read_csv('train.csv')
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [87]:
train['target'].value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [70]:
test = pd.read_csv('test.csv')

In [71]:
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [72]:
train.target.value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [73]:
test.location.value_counts()

New York                  38
USA                       37
Worldwide                 16
United States             15
London                    13
                          ..
Medford, NJ                1
Quezon City                1
LanÌ¼s                     1
USA,Washington,Seattle     1
Brussels, Belgium          1
Name: location, Length: 1602, dtype: int64

In [74]:
test.keyword.value_counts()

deluged               23
demolished            22
rubble                22
first%20responders    21
seismic               21
                      ..
threat                 5
fatalities             5
forest%20fire          5
inundation             4
epicentre              1
Name: keyword, Length: 221, dtype: int64

## Replacing of Null values in the dataset

In [75]:
test['keyword'].fillna("No keyword", inplace=True)

In [76]:
test['keyword']

0       No keyword
1       No keyword
2       No keyword
3       No keyword
4       No keyword
           ...
3258    No keyword
3259    No keyword
3260    No keyword
3261    No keyword
3262    No keyword
Name: keyword, Length: 3263, dtype: object

In [77]:
test.head()

   id     keyword location                                               text
0   0  No keyword      NaN                 Just happened a terrible car crash
1   2  No keyword      NaN  Heard about #earthquake is different cities, s...
2   3  No keyword      NaN  there is a forest fire at spot pond, geese are...
3   9  No keyword      NaN           Apocalypse lighting. #Spokane #wildfires
4  11  No keyword      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [78]:
test['keyword'].value_counts()

No keyword       26
deluged          23
demolished       22
rubble           22
snowstorm        21
                 ..
threat            5
fatalities        5
forest%20fire     5
inundation        4
epicentre         1
Name: keyword, Length: 222, dtype: int64

In [80]:
 test['location'].fillna("No location", inplace=True)

In [81]:
test.head()

,id,keyword,location,text
0,0,No keyword,No location,Just happened a terrible car crash
1,2,No keyword,No location,"Heard about #earthquake is different cities, s..."
2,3,No keyword,No location,"there is a forest fire at spot pond, geese are..."
3,9,No keyword,No location,Apocalypse lighting. #Spokane #wildfires
4,11,No keyword,No location,Typhoon Soudelor kills 28 in China and Taiwan

In [84]:
from nltk.tokenize import word_tokenize, sent_tokenize

## Training dataset

In [93]:
train['text'].head()

0    Our Deeds are the Reason of this #earthquake M...
1               Forest fire near La Ronge Sask. Canada
2    All residents asked to 'shelter in place' are ...
3    13,000 people receive #wildfires evacuation or...
4    Just got sent this photo from Ruby #Alaska as ...
Name: text, dtype: object

In [98]:
train['text'] = train['text'].astype(str)

In [117]:
tokens = train['text'].apply(word_tokenize)

In [118]:
tokens.head()

0    [Our, Deeds, are, the, Reason, of, this, #, ea...
1     [Forest, fire, near, La, Ronge, Sask, ., Canada]
2    [All, residents, asked, to, 'shelter, in, plac...
3    [13,000, people, receive, #, wildfires, evacua...
4    [Just, got, sent, this, photo, from, Ruby, #, ...
Name: text, dtype: object

In [121]:
train['text'] = tokens

In [122]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,"[Our, Deeds, are, the, Reason, of, this, #, ea...",1
1,4,NaN,NaN,"[Forest, fire, near, La, Ronge, Sask, ., Canada]",1
2,5,NaN,NaN,"[All, residents, asked, to, 'shelter, in, plac...",1
3,6,NaN,NaN,"[13,000, people, receive, #, wildfires, evacua...",1
4,7,NaN,NaN,"[Just, got, sent, this, photo, from, Ruby, #, ...",1

In [123]:
train['location'].fillna("No location", inplace=True)

In [124]:
train['keyword'].fillna("No keyword", inplace=True)

In [125]:
train.head()

,id,keyword,location,text,target
0,1,No keyword,No location,"[Our, Deeds, are, the, Reason, of, this, #, ea...",1
1,4,No keyword,No location,"[Forest, fire, near, La, Ronge, Sask, ., Canada]",1
2,5,No keyword,No location,"[All, residents, asked, to, 'shelter, in, plac...",1
3,6,No keyword,No location,"[13,000, people, receive, #, wildfires, evacua...",1
4,7,No keyword,No location,"[Just, got, sent, this, photo, from, Ruby, #, ...",1

## Test dataset

In [126]:
test['text'] = test['text'].astype(str)

In [127]:
tokens1 = test['text'].apply(word_tokenize)

In [128]:
tokens1.head()

0            [Just, happened, a, terrible, car, crash]
1    [Heard, about, #, earthquake, is, different, c...
2    [there, is, a, forest, fire, at, spot, pond, ,...
3    [Apocalypse, lighting, ., #, Spokane, #, wildf...
4    [Typhoon, Soudelor, kills, 28, in, China, and,...
Name: text, dtype: object

In [130]:
test['text'] = tokens1

In [131]:
test.head()

,id,keyword,location,text
0,0,No keyword,No location,"[Just, happened, a, terrible, car, crash]"
1,2,No keyword,No location,"[Heard, about, #, earthquake, is, different, c..."
2,3,No keyword,No location,"[there, is, a, forest, fire, at, spot, pond, ,..."
3,9,No keyword,No location,"[Apocalypse, lighting, ., #, Spokane, #, wildf..."
4,11,No keyword,No location,"[Typhoon, Soudelor, kills, 28, in, China, and,..."